@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px; /* Rounded corners */
}

thead {
  background-color: #ffbfbf;
  border-radius: 10px 10px 0 0; /* Rounded top corners */
}

th {
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

td {
  padding: 10px;
  word-wrap: break-word;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

@media (max-width: 600px) {
  table {
    display: block;
    overflow-x: auto;
    border-radius: 8px; /* Rounded corners */
  }
  
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  
  th {
    text-align: left;
    font-weight: bold;
    border-radius: 8px 8px 0 0; /* Rounded top corners */
  }
  
  td {
    padding: 6px;
  }
  
  tbody tr {
    border-bottom: none;
  }
}
